/* MAIN */
main {
    flex: 1;    /* Ocupa el resto de la pagina que deja el Header y Footer */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* main * {
    border: 2px solid darkgrey;
} */


main h1, main h2, main h3 {
    color: rgb(0, 30, 110);
}

main p {
    line-height: 25px;
}

    /* CONSTRUCCION Section */
.construccion {
    margin-bottom: 0px;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.construccion img {
    width: 100%;
}

.construccion > i {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba(16, 146, 163, 0.7), rgba(1, 28, 33, 0.6));

    display: grid;
    place-items: center;
}

.construccion h2 {
    font-style: normal;
    font-size: 32px;
    font-weight: 400;
    color: azure;

    display: flex;
    align-items: center;
}

@media (max-width: 900px) {
    main > section:first-child {
        margin-top: 0;
    }
}
/* --- MAIN --- */