@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&family=Montserrat:wght@400;700&family=Quicksand:wght@300;400;700&display=swap');


a{
    cursor: pointer;
}
/* HEADER */
header {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    min-height: 75px;
    padding: 0px 40px;
    font-weight: 700;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #045474;  /* BLUE COLOR */
}


.logo {
    width: 9vw;
}

.headerimg {
    width: 75px;
    height: auto;
    max-width: 100%;
}

.menu {
    width: auto;
}

.nav_links {
    list-style: none;

    display: flex;
    justify-content: space-between;
}

.nav_links li {
    padding: 0 18px; /* Mover AQUI Responsive */
}

.nav_links li a {
    color: #efefef;
    padding: 10px;

    transition: all 0.2s ease;
}

.nav_links li a:hover {
    color: #045474;
    background-color: rgb(240, 240, 240);
}

.user {
    width: 10vw;
    visibility: hidden;
}

@media (max-width: 900px) { /* Responsive (Aplicará esto si el ViewPort es menor a 901px) */
    header {
        position: static;   /* default html */
        min-height: auto;
        padding: 0px 0px;

        flex-direction: column;
        align-items: center;
    }

    .logo {
        width: 100%;

        display: flex;
    }

    .header-img {
        margin: 0 auto; /* Centra el logo - conectado al flex de .logo*/
    }

    header nav {
        margin-top: 5px;
    }

    .nav_links {
        flex-direction: column;
        align-items: center;
    }

    .nav_links li {
        margin: 10px 0;
    }

    .menu .nav_links:last-child {
        margin-bottom: 5px;   
    }

    .user .nav_links {
        flex-direction: row;
        justify-content: center;
    }

    .user .nav_links li a {
        box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.75);
    }

    .user {
        display: none;
    }
}