@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&family=Montserrat:wght@400;700&family=Quicksand:wght@300;400;700&display=swap');


/* HEADER */
header {
    position: fixed;
    z-index: 100;
    top: 0; left: 0;
    width: 100%;
    padding: 0px 40px;
    font-weight: 700;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #045474;  /* BLUE COLOR */
}

.logo {
    display: grid;
    place-items: center;
}

.headerimg {
    width: 75px;
}

.nav_links {
    list-style: none;

    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.nav_links li a {
    color: #efefef;
    padding: 10px;
    display: inline-block;  /* Habilita el GAP de .nav_links al usar flex-direction: column */

    transition: all 0.2s ease;
}

i{
    font-size: 20px;
}

.flex{
    display: flex;
}
.mt_10{
    margin-top: 10px;
}
.nav_links li a:hover {
    color: #045474;
    background-color: rgb(240, 240, 240);
}

.user {
    width: 75px;
}

.dropdown_menu {
    display: none;
}
.dropdown_menu_check {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    opacity: 0;
    cursor: pointer;
}
@media (max-width: 901px) { /* Responsive (Aplicará esto si el ViewPort es menor a 901px) */
    header {
        position: relative;   /* default html */
        padding: 0px 0px 8px;

        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

    .nav_links {
        text-align: center;

        flex-direction: column;
        align-items: stretch;
        gap: 8px;
    }

    .nav_links li a {
        width: 100%;
    }

    .user {
        display: none;
    }

    .user .nav_links {
        flex-direction: row;
        justify-content: center;
    }

    .user .nav_links li a {
        box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.75);
    }

    .dropdown_menu {
        position: absolute;
        top: 14px;
        right: 12px;
        padding: 6px;
        border-radius: 6px;
        transition: transform .1s ease-in;

        display: flex;
    }

    .dropdown_menu:hover {
        background-color: #05648a;
        transform: scale(1.1);
    }

    .dropdown_menu:has( :checked ) {
        background-color: #05648a;
    }

    .dropdown_menu .fa-bars {
        color: rgb(224, 224, 224);
        font-size: 28px;
    }

    .dropdown_menu_check {
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        opacity: 0;
        cursor: pointer;
    }

    /*      Dropdown Menu */
    header:has( .dropdown_menu > .dropdown_menu_check:checked ) {
        --display: grid;
        --rows: 1fr;
    }

    .menu {
        display: var(--display, none);
        grid-template-rows: var(--rows, 0fr);
    }
}