footer {
    width: 100%;
    padding: 12px 0 4px;
    font-size: 14px;
    background-color: #045474d3;    /* BLUE COLOR */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

footer ul {
    list-style: none;

    display: flex;
    justify-content: space-between;
}

.social_links {
    gap: 36px;
    flex-wrap: wrap;
}

.social_links a {
    padding: 0 16px;
    transition: color 0.15s ease, transform .15s ease;
}

.social_links a:hover {
    color: rgb(240, 240, 240);
    transform: scale(1.7);
}

.social_links .fa-brands {
    font-size: 1.7rem;
}

.terms_links {
    gap: 16px;
}

.terms_links a:hover {
    color: #efefef;
    text-decoration: underline;
}

@media (max-width: 450px) { /* Responsive (Aplicará esto si el ViewPort es menor a 901px) */
    .social_links {
        gap: 12px;
    }
    
    .terms_links {
        flex-direction: column;
        align-items: center;
    }

    .terms_links, .copyright {
        text-align: center;
    }
}