.admin_container{
    margin-right: 150px;
    margin-left: 150px;
    margin-bottom: 130px;
}
.admin_thead{

    color: white;
}
.btnagregar{
  margin-top:16px;
  width:30% ;
}
.selectedbutton{
  opacity: 0.5;
}
.margin{
  margin-right: 5px;
}

.submitbutton {
  width: 30%;
  padding: 0.6rem 0rem;
  font-size: 1rem;
  font-weight: bold;
  outline: none;
  border: none;
  color: #efefef;
  background-color: #116979;

  transition: background-color .2s ease;
}
.field {
  /* display: block; */
  margin-top: 24px;

  margin-bottom: 24px;
  width: 30%;
  padding: 0.6rem 1rem;
  border-radius: 10px;
  outline: none;
  font-family: inherit;
  font-size: 1.1rem;
  border: 2px solid rgba(0, 0, 0, 0);
  background-color: rgb(255, 255, 255);

  transition: background-color .3s ease;
}

.field:hover {
  background-color: rgba(0, 25, 130, .1);
}

.field:focus {
  background-color: #ffffff;
  border: 2px solid rgba(30, 85, 250, 0.4);
}
.submitbutton:hover {
  background-color: #084d7a;
  cursor: pointer;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: center;
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    background-color: #045474;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 600px) {

    .btnagregar{
      width:100% ;
    }
    table {
      border: 0;
    }

    .admin_container{
        margin-right: 0;
        margin-left: 0;
    
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }
  