@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&family=Montserrat:wght@400;700&family=Quicksand:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Quicksand', sans-serif;
  scroll-behavior: smooth;
  background-color: rgba(10, 50, 80, 0.15); /* Grisaseo */
}

body {
  color: rgb(0, 0, 0);
  text-align: justify;

  /* footer siempre abajo */
  height: 100vh;
  display: flex;
  flex-direction: column;
}

li, a, button {
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;  /* anchor */
  border-radius: 10px;
}

a {
  color: rgb(0, 0, 0);
}